# Build artifacts
*.o
*.a
*.so

# Test binaries
test/test_api_loopback
test/test_ber
test/test_ber_vlsnr
test/test_e2e
test/test_loopback
test/test_modulator
test/test_rf_ber
test/test_stream

# Editor
*.swp
*~
